form {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    background-color: white;
    

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    p{
        background-color: white;

    }
}

input, textarea {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

